.OurProducts-container {
  background-color: var(--home-our-product-continer-bg);
  padding: 1.4em;
  margin-bottom: 1rem;
  border-radius: 7px;
  width: 95%;
  font-size: 1.1rem;
  box-shadow: 0 0 15px 3px rgb(203, 199, 199);
}

.OurProducts-container:last-child {
  margin-bottom: 0;
}

.OurProducts-container:nth-child(even) {
  flex-direction: row-reverse;
}

.OurProducts-carousal {
  width: 50%;
  height: 19em;
  border-radius: 10px;
}

.OurProducts-desc-container {
  width: 45%;
}

.OurProducts-desc-container h1 {
  color: var(--nav-link-active);
  font-size: clamp(2rem, 3.8vw, 2.8rem);
  line-height: 1;
  margin: 0.25em 0 0.5em 0;
}

.OurProducts-desc-container p {
  color: rgb(41, 41, 41);
  margin-top: 1em;
  font-size: clamp(1rem, 2.2vw, 1.25rem);
}

.OurProducts-btn {
  background-color: var(--home-our-product-btn-bg);
  width: fit-content;
  padding: 0.75em 1.5em;
  font-size: clamp(0.85rem, 2.1vw, 1rem);
  text-align: center;
  text-transform: uppercase;
  border-radius: 20px 0;
  /* box-shadow: 3px 3px 5px #353434; */
  cursor: pointer;
  animation: scale-infinite 2.6s ease-in-out infinite;
}

@media screen and (max-width: 46.875rem) {
  .OurProducts-container {
    flex-direction: column !important;
    align-items: center;
    padding: 1.3em 1em;
  }

  .OurProducts-carousal,
  .OurProducts-desc-container {
    width: 100%;
  }

  .Home-carousal {
    height: 15.5em;
  }

  .OurProducts-desc-container > div {
    margin: 1em 0 1.5em 0;
  }

  /* .OurProducts-desc-container h1,
  .OurProducts-desc-container p {
    margin: 0;
  }

  .OurProducts-desc-container p {
    margin-top: 0.25em;
  } */
}
