.Home-product-container {
  background-color: #21bdbd;
  background-image: -webkit-linear-gradient(to right, #3bbdbd 0%, #21bdbd 100%);
  background-image: linear-gradient(to right, #3bbdbd 0%, #21bdbd 100%);
  padding: 1.4em;
  margin: 0.5em 0;
  border-radius: 15px;
  width: 95%;
}

.Home-product-container:nth-child(even) {
  flex-direction: row-reverse;
}

.Home-carousal {
  width: 55%;
  height: 19em;
  border-radius: 10px;
}

.Home-product-desc-container {
  width: 50%;
}

.Home-product-desc-container p {
  color: rgb(41, 41, 41);
  /* color: rgb(128, 123, 123); */
  font-style: italic;
}

.Home-btn {
  width: fit-content;
  cursor: pointer;
  background-color: #007171;
  border: solid 0.7px #065252;
  background-image: -webkit-linear-gradient(to right, #0e6767 0%, #007171);
  background-image: linear-gradient(to right, #0e6767 0%, #007171);
  padding: 0.75em 1.5em;
  text-align: center;
  text-transform: uppercase;
  transition: 1.5s;
  background-size: 200% auto;
  box-shadow: 3px 3px 5px #353434;
  border-radius: 10px;
  margin: 0 auto;
  animation: scale-infinite 2.6s ease-in-out infinite;
}

@media screen and (max-width: 46.875rem) {
  .Home-product-container {
    flex-direction: column !important;
    padding: 1.3em 1em;
  }

  .Home-carousal,
  .Home-product-desc-container {
    width: 100%;
  }

  .Home-carousal {
    height: 15.5em;
  }

  .Home-product-desc-container > div {
    margin: 1.5em 0 2em 0;
  }

  .Home-product-desc-container h1,
  .Home-product-desc-container p {
    margin: 0;
  }

  .Home-product-desc-container p {
    font-size: 0.9em;
    margin-top: 0.25em;
  }
}

/* .bg-h {
  background-color: #de3b4b;
} */
