.Home-product-container {
  padding: 1.8em;
  margin: 0.5em 0;
  border-radius: 15px;
  width: 95%;
}

.Home-product-container:nth-child(even) {
  flex-direction: row-reverse;
}

.Home-carousal {
  width: 55%;
  height: 19em;
  border-radius: 10px;
}

.Home-product-desc-container {
  width: 40%;
}

.Home-product-desc-container p {
  color: rgb(128, 123, 123);
  font-style: italic;
}

.Home-btn {
  width: fit-content;
  cursor: pointer;
  background-color: red;
  background-image: linear-gradient(
    to right,
    #1a2980 0%,
    #26d0ce 51%,
    #1a2980 100%
  );
  padding: 0.75em 1.5em;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  margin: 0 auto;
}

.Home-btn:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 46.875rem) {
  .Home-product-container {
    flex-direction: column !important;
  }

  .Home-carousal,
  .Home-product-desc-container {
    width: 100%;
  }

  .Home-product-desc-container > div {
    margin: 1.5em 0 2em 0;
  }

  .Home-product-desc-container h1,
  .Home-product-desc-container p {
    margin: 0;
  }

  .Home-product-desc-container p {
    font-size: 0.9em;
    margin-top: 0.25em;
  }
}
