.Home-carousal {
  width: 70vw;
  height: 40vw;
  border-radius: 10px;
  margin: 1em;
  position: relative;
}

.Home-carousal-btn {
  position: absolute;
  right: 0;
  bottom: 0;
  cursor: pointer;
  background-color: red;
  background-image: linear-gradient(
    to right,
    #1a2980 0%,
    #26d0ce 51%,
    #1a2980 100%
  );
  padding: 0.75em 1.5em;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  opacity: 0;
  animation: change-opacity 0.75s ease-in forwards;
}

.Home-carousal-btn:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
}

@media screen and (max-width: 58rem) {
  .Home-carousal {
    width: 90vw;
    height: 40vw;
  }
  .Home-carousal-btn {
    padding: 0.5em 1em;
  }
}

@media screen and (max-width: 40rem) {
  .Home-carousal {
    width: 90vw;
    height: 70vw;
  }
}
