.CheckoutSummary-li {
  width: 100%;
  margin: 0.5em 0;
}

.CheckoutSummary-conditions {
  display: block;
  max-width: 18rem;
  margin: 0.7em;
  font-size: x-small;
  color: grey;
  text-align: center;
}

.place-order-btn {
  width: 100%;
  outline: 0;
  border: 0;
  text-align: center;
  background-image: linear-gradient(
    to right,
    #ff512f 0%,
    #dd2476 51%,
    #ff512f 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #eee;
  border-radius: 10px;
  cursor: pointer;
}

.place-order-btn:hover {
  background-position: right center; /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.w-100 {
  width: 100%;
}

@media screen and (max-width: 58.5em) {
  .CheckoutSummary-container {
    min-width: none;
  }

  .CheckoutSummary-conditions {
    max-width: none;
  }
}
