.CheckoutSummary-li-container {
  width: 100%;
  border-bottom: solid 1px #ddd;
}

.CheckoutSummary-li-container:nth-of-type(1) {
  border-top: solid 1px #ddd;
}

.CheckoutSummary-li-container:nth-last-of-type(1) {
  border-bottom: none;
}

.CheckoutSummary-li-container h3 {
  color: var(--nav-link-active);
}

.CheckoutSummary-li-container .link {
  font-family: cursive;
  font-size: 0.95em;
  text-decoration: underline;
}

.CheckoutSummary-li {
  width: 100%;
  margin: 0.5em 0;
}

.CheckoutSummary-li > span {
  max-width: 60%;
  text-align: justify;
}

.CheckoutSummary-conditions {
  display: block;
  max-width: 18rem;
  margin: 0.7em;
  font-size: x-small;
  color: grey;
  text-align: center;
}
