.IndivisualProduct-container {
  background-color: #fcfcfc;
  /* background-image: linear-gradient(to bottom, #f4fffd 40%, #ffc6ac); */
  background-image: linear-gradient(to bottom, #fff5f1 40%, #ffbea0);
  width: 20em;
  border-radius: 0.75em;
  border-top: 50px;
  border: solid 1px #eebaa5;
  box-shadow: 4px 4px 10px #807d7d;
}

.IndivisualProduct-img {
  height: 15rem;
  width: 100%;
  border-radius: 0.75em;
  /* border-top-left-radius: 0.75em;
  border-top-right-radius: 0.75em; */
}

.IndivisualProduct-details-container {
  padding: 1em 0;
}

.IndivisualProduct-det-item {
  margin: 0.1em 0.5em;
  color: rgb(59, 59, 59);
  letter-spacing: 0.03rem;
  font-size: 1.25rem;
  font-family: "Amaranth", sans-serif;
  font-style: italic;
}

.IndivisualProduct-btn {
  font-size: 1em;
  cursor: pointer;
  background-color: #d81159;
  border: none;
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: all 1.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
}

.IndivisualProduct-btn:hover {
  transform: scale(1.1);
  text-decoration: none;
}

.remove-cart-btn {
  background-color: #b5582d !important;
  /* background-color: #a36e05 !important; */
}

.pb {
  padding-bottom: 0.7em;
}
