@import url("https://fonts.googleapis.com/css2?family=Castoro&display=swap&family=Gwendolyn:wght@700&display=swap");

.IndivisualProduct-container {
  background-color: #fcfcfc;
  width: 20em;
  justify-self: center;
  border-radius: 0.75em;
  border-top: 50px;
  box-shadow: 3px 3px 5px 5px lightgrey;
}

.IndivisualProduct-img {
  height: 15rem;
  width: 100%;
  border-radius: 0.75em;
  /* border-top-left-radius: 0.75em;
  border-top-right-radius: 0.75em; */
}

.IndivisualProduct-details-container {
  padding: 1em 0;
}

.IndivisualProduct-det-item {
  margin: 0.1em 0.5em;
  font-family: "Gwendolyn", cursive;
  color: black;
  font-size: 1.5em;
}

.IndivisualProduct-btn {
  font-family: "Castoro", serif;
  font-size: 1em;
  cursor: pointer;
  background-color: #d81159;
  border: none;
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: all 1.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
}

.IndivisualProduct-btn:hover {
  transform: scale(110%);
  text-decoration: none;
}

.remove-cart-btn {
  background-color: #f2c977 !important;
  color: rgb(70, 67, 67);
  /* background-color: #a36e05 !important; */
}

.pb-1 {
  padding-bottom: 1em;
}
