@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@700&display=swap");

.Navbar-container {
  position: fixed;
  background: #4376de; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #4376de,
    #5454de,
    #1616de
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #4376de,
    #5454de,
    #1616de
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 0.7em 1.5em;
  z-index: 999;
  inset: 0 0 auto 0;
}

.Navbar-logo-container {
  font-family: "Cinzel Decorative", cursive;
  color: white;
  text-decoration: underline;
}

.Navbar-hamburger-icon {
  display: none;
  color: white;
  cursor: pointer;
}

.Navbar-list-container {
  list-style: none;
  text-decoration: none;
  padding: 0;
}

.Navbar-list-item {
  font-family: "Cinzel Decorative", cursive;
  margin-left: 3em;
  text-decoration: none;
  cursor: pointer;
}

.nav-active {
  color: #ffea00 !important;
}

@media screen and (max-width: 39rem) {
  .Navbar-container {
    padding: 1.4em;
  }

  .Navbar-hamburger-icon {
    display: block;
    z-index: 999;
  }

  .Navbar-list-container {
    background: hsla(159, 82%, 55%, 1); /* fallback for old browsers */
    background: -webkit-linear-gradient(
      to right,
      #4376de,
      #5454de,
      #1616de
    ); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(
      to bottom,
      hsla(159, 82%, 55%, 1) 0%,
      hsla(206, 98%, 48%, 1) 100%
    );
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: 4.48625em 0 0 54%;
    margin: auto;
    transform: translateX(100%);
    transition: transform 300ms ease-in;
  }

  .Navbar-list-item {
    margin: 1em auto;
  }

  .side-nav-open {
    transform: translateX(0);
  }
}
