.Navbar-container {
  position: fixed;
  background: var(--nav-container-bg);
  padding: 1.5rem;
  z-index: 999;
  inset: 0 0 auto 0;
}

.Navbar-logo-container {
  color: white;
  font-size: 1.3rem;
  font-weight: 800;
  letter-spacing: 0.02em;
}

.Navbar-hamburger-icon {
  display: none;
}

.Navbar-box-shadow {
  position: fixed;
  visibility: none;
  z-index: -5;
}

.Navbar-list-container {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

.Navbar-list-item {
  margin: 0 1.5em;
  font-size: 1.1rem;
  text-decoration: none;
  cursor: pointer;
}

.Navbar-CTA-btn {
  color: white;
  background-color: var(--nav-cta-btn-bg);
  padding: 0.5rem 1.5rem;
  font-size: 1.1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.nav-active {
  color: var(--nav-link-active) !important;
  font-weight: 800;
}

@media screen and (max-width: 39rem) {
  .Navbar-container {
    padding: 1.4em;
  }

  .Navbar-hamburger-icon {
    display: block;
    z-index: 999;
    color: white;
  }

  .Navbar-box-shadow {
    transition: background 500ms;
  }

  .Navbar-CTA-btn {
    display: none;
  }

  .Navbar-list-container {
    background-color: var(--nav-container-bg);
    display: flex;
    flex-direction: column;
    position: fixed;
    inset: 4.6em 0 0 54%;
    margin: auto;
    transform: translateX(100%);
    transition: transform 300ms ease-in;
  }

  .Navbar-list-item {
    margin: 1em auto;
  }

  .side-nav-open {
    transform: translateX(0);
  }

  .bg-shadow {
    inset: 4.6em 0 0 0;
    background-color: #00000080;
  }
}
