.Loading-circle {
  position: relative;
  width: 10%;
  aspect-ratio: 1;

  border-radius: 50%;
  border: solid 10px #fcdee2;
}

.Loading-circle::after {
  content: "";
  position: absolute;
  inset: -10px;
  z-index: 2;

  border-radius: 50%;

  border-top: solid 10px var(--nav-link-active);
  border-right: solid 10px var(--nav-link-active);
  border-bottom: solid 10px transparent;
  border-left: solid 10px transparent;

  animation: loading 1s linear infinite;
}

@keyframes loading {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}
