.Popup-container {
  position: fixed;
  z-index: 999;
  inset: 0 0 0 0;
  padding: 1rem;
  background-color: #00000080;
}

.Popup-container > div {
  background-color: white;
  padding: 2rem;
  width: 42.5rem;
}

.Popup-container > div > h2 {
  margin: 0.1rem 0;
}

.Popup-btn {
  color: white;
  background-color: var(--popup-btn-bg);
  padding: 1rem;
  font-size: 1rem;
  width: 100%;
  margin-top: 0.4rem;
  border: none;
  cursor: pointer;
}

.secondary {
  background-color: white;
  border: solid 1px var(--popup-btn-bg);
  color: var(--popup-btn-bg);
}
