* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #00000030;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flex {
  display: flex;
}

.flex-c {
  display: flex;
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.al-center {
  align-items: center;
}

.txt-al-center {
  text-align: center;
}

.j-between {
  justify-content: space-between;
}

.j-around {
  justify-content: space-around;
}

.link {
  text-decoration: none;
  color: white;
}

.blue {
  color: #0d6efd;
}

.black {
  color: black;
}

.red {
  color: #dc3545;
}

.green {
  color: #198754;
}

.grey {
  color: rgb(87, 87, 87);
}

.m-nav {
  margin-top: 7em;
  margin-bottom: 2.4em;
}

.plr-1 {
  padding: 0 1em;
}

.img-veg {
  width: 1em;
  height: 1em;
}

.carousal_animation {
  transition: all 1.5s ease-in;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@keyframes change-opacity {
  100% {
    opacity: 1;
  }
}