@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@1,400;1,700&display=swap");

* {
  box-sizing: border-box;
}

:root {
  --white-shade: #f1faee;
  --red-shade: #de3b4b;
  --blue-shade: #4361ee;
  --green-shade: #28afb0;
  --yellow-shade: #ffd275;
  --maroon-shade: #820404;
}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #fff2ff;
  background-image: -webkit-linear-gradient(to right, #fef2fe 0%, #feeffc 100%);
  background-image: linear-gradient(to right, #fef2fe 0%, #fff5fe 100%);
  overflow-x: hidden;
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mh-auto {
  margin: 0 auto;
}

.flex {
  display: flex;
}

.flex-c {
  display: flex;
  flex-direction: column;
}

.al-center {
  align-items: center;
}

.txt-al-center {
  text-align: center;
}

.j-center {
  justify-content: center;
}

.j-between {
  justify-content: space-between;
}

.j-around {
  justify-content: space-around;
}

.link {
  text-decoration: none;
  color: white;
}

.blue {
  color: #0d6efd;
}

.black {
  color: black;
}

.red {
  color: #dc3545;
}

.green {
  color: #198754;
}

.grey {
  color: rgb(87, 87, 87);
}

.p-nav {
  padding-top: 7em;
  padding: 7em 1em 2.4em 1em;
  opacity: 0;
  animation: change-opacity 1.5s ease-in forwards;
}

.img-veg {
  width: 1em;
  height: 1em;
  margin-left: 0.3em;
}

.carousal_animation {
  transition: all 1.5s ease-in;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

input,
textarea,
button,
select,
a,
.icon {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

@keyframes change-opacity {
  100% {
    opacity: 1;
  }
}

@keyframes scale-infinite {
  50% {
    transform: scale(1.2);
  }
}

/* @keyframes rotate-Y {
  50% {
    transform: rotateY(180deg);
  }
} */
